<!doctype html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,

shrink-to-fit=no">

    <title>Editar Fornecedor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="container" style="margin-top: 50px;">

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert">
            <%- messages.error %>
        </div>
        <% } %>

            <div class="card">

                <div class="card-header"> Editar Funcionario </div>
                <div class="card-body">
                    <form action="/insercao/atualizar/<%= id %>" method="post">
                        <div class="form-group">
                            <label>Nome:</label>
                            <input type="text" class="form-control form-control-sm" name="Nome" value="<%= Nome %>"
                                autocomplete="off" required>
                            <label>Endereço:</label>
                            <input type="text" class="form-control form-control-sm" name="Endereco"
                                value="<%= Endereco %>" autocomplete="off" required>
                            <label>Cidade:</label>
                            <input type="text" class="form-control form-control-sm" name="Cidade" value="<%= Cidade %>"
                                autocomplete="off" required>
                            <label>Cep:</label>
                            <input type="text" class="form-control form-control-sm" name="Cep" value="<%= Cep %>"
                                autocomplete="off" required>
                            <label>Pais:</label>
                            <input type="text" class="form-control form-control-sm" name="Pais" value="<%= Pais %>"
                                autocomplete="off" required>
                            <label>CodProd:</label>
                            <input type="text" class="form-control form-control-sm" name="CodProd"
                                value="<%= CodProd %>">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info" value="Atualizar" />

                        </div>
                    </form>
                </div>
            </div>
</body>

</html>